/* #### */ * {margin: 0; padding: 0; box-sizing: border-box;} body {min-height: 100%;} /* #### */
/* ############################# styles applied to whole page ################################ */
/* ########################################################################################### */

/* ############################ Begin standard table styling below ###############################*/

table {border: solid 1px black;width: 80%;margin-left: auto;margin-right: auto;}
th {border: 1px solid black; background-color: lightgray;} .spacer {width: 100%; margin: 10px 0;} 
td {border: 1px solid black; margin: 0px 5px; padding:5px 10px; text-align: center;} 

/* ###############   ###### Set the Form Style for DB pages ######   ############### */

.add {width: 100%} .add > h3, .add > form {text-align: center;}
.edit {width: 100%} .edit > h3, .edit > form {text-align: center;}
.hide {width: 100%} .hide > h3, .hide > form {text-align: center;}